EE_PROJECT=bigquery-ai-project-473708
DATABASE_URL=postgresql://USER:PASSWORD@ep-example-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
REDIS_URL=redis://localhost:6379/0
MQTT_URL=mqtt://localhost:1883
